In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df = pd.read_csv("../matsim/data/raw/egt_2010/Deplacements_semaine.csv", sep = ",")

In [12]:
df["id"] = df["NQUEST"].astype(str) + ":" + df["NP"].astype(str)

In [13]:
df

,NQUEST,NP,ND,POIDSP,JDEP,RESCOUR,RESDEP,RESSECT,RESCOMM,RESC,...,NBTRAJVP,NBTRAJVPC,NBTRAJTC,NBTRAJVELO,NBTRAJ2RM,IDM,NBCO,RAB_TC,DIFF_TC,id
0,75010021,1,1,180.391709,2,1,75,7501,75102,555522C,...,NaN,NaN,1.0,NaN,NaN,1,0.0,1.0,1.0,75010021:1
1,75010021,1,2,180.391709,2,1,75,7501,75102,555522C,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,75010021:1
2,75010021,1,3,180.391709,2,1,75,7501,75102,555522C,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,75010021:1
3,75010021,1,4,180.391709,2,1,75,7501,75102,555522C,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,75010021:1
4,75010021,1,5,180.391709,2,1,75,7501,75102,555522C,...,NaN,NaN,1.0,NaN,NaN,1,0.0,1.0,1.0,75010021:1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124257,95139161,3,4,224.618104,1,3,95,9513,95102,512529G,...,NaN,NaN,1.0,NaN,NaN,1,0.0,1.0,1.0,95139161:3
124258,95139161,4,1,172.379084,1,3,95,9513,95102,512529G,...,1.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,95139161:4
124259,95139161,4,2,172.379084,1,3,95,9513,95102,512529G,...,1.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,95139161:4
124260,95139171,1,1,95.230203,1,3,95,9513,95039,516684B,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,95139171:1
124261,95139171,1,2,95.230203,1,3,95,9513,95039,516684B,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,95139171:1